{% extends 'base.html' %}

{% block content %}
<div class="row no-gutters text-monospace text-center">
    <div class="col-11 col-xl-auto">
        {% for week in week_list %}

        {% if week.is_current_week %}
        <a href="{% url 'week_view' week.week_number %}">H</a>
        {% elif week.is_past %}
        <a href="{% url 'week_view' week.week_number %}">X</a>
        {% else %}
        <a href="{% url 'week_view' week.week_number %}">O</a>
        {% endif %}

        {% if week.week_number|divisibleby:"52" %}
    </div>
</div>
<div class="row no-gutters text-monospace text-center">
    <div class="col-11 col-xl-auto">
        {% elif week.week_number|divisibleby:"13" %}
    </div>
    &nbsp;<div class="col-11 col-xl-auto">

        {% endif %}

        {% endfor %}
    </div>
</div>

{% endblock %}